/* ========================== 
        google fonts 
============================ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap');

/* ========================== 
       Root variables
============================ */
:root{

    /* ---fonts variable---- */
    --mainFont :'Montserrat', sans-serif;
    --fontBold:700;
    --fontSemi:600;
    --fontMedium:500;
    --fontRegular:400;
    --fontLight:300;
    

    /* ---color variable---- */



    
}


/* ========================== 
      Reset CSS
============================ */



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}





/* ========================== 
     Global CSS
============================ */

li{
    list-style: none;
}

ul{
    display: flex;
}

html{
    font-family: 62.5%;
}


body{
    font-family:var(--mainFont);
}



/* ========================== 
     ---- section style
============================ */


/* ========================== 
     ---- section style
============================ */


/* ========================== 
     ---- section style
============================ */


/* ========================== 
     ---- section style
============================ */


/* ========================== 
     ---- section style
============================ */



/* ========================== 
     ---- section style
============================ */




/* ========================== 
     ---- section style
============================ */




/* ========================== 
     ---- section style
============================ */




/* ========================== 
     ---- section style
============================ */